

body {
    font-family: Arial, sans-serif; /* 更改字体 */
    color: #333; /* 更改字体颜色 */
    background-color: #f2f2f2; /* 更改背景颜色 */
    text-align: center; /* 居中对齐 */
}

h1 {
    color: #553939; /* 更改标题颜色 */
    text-shadow: 2px 2px 4px #553939b9;/* 添加发光特效 */
}

form {
    margin: 0 auto; /* 水平居中对齐表单 */
    max-width: 400px; /* 设置表单最大宽度 */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color:  #553939;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.footer{
	text-align: center;
	background: #510C0F;
	color: #d7b7b79b;
	padding: 10px 0;
	margin-top: 30px;
}
